Source: wiperam
Section: misc
Priority: optional
Maintainer: wiperam maintainers <wiperam@lists.riseup.net>
Uploaders: Patrick Schleizer <adrelanos@riseup.net>, intrigeri <intrigeri@debian.org>, ono-sendai <ono-sendai@insiberia.net>
Build-Depends: debhelper (>= 8), faketime, config-package-dev (>= 5.1), initramfs-tools
Homepage: https://tails.boum.org/contribute/design/memory_erasure/
Vcs-Browser: https://git-tails.immerda.ch/wiperam/
Vcs-Git: git://git.immerda.ch/tails/wiperam.git
Standards-Version: 3.9.5

Package: wiperam
Architecture: all
Depends: secure-delete, kexec-tools, memlockd, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: protection from memory recovery
 In order to protect against memory recovery such as cold boot attack, the
 system RAM is overwritten when the system is being shutdown or when the boot
 medium is physically removed.
