Source: wiperam
Section: misc
Priority: optional
#Maintainer: XXX: insert maintenance team's mailing-list
Uploaders: Patrick Schleizer <adrelanos@riseup.net>, intrigeri <intrigeri@debian.org>, ono-sendai <ono-sendai@insiberia.net>
Build-Depends: debhelper (>= 8), faketime, config-package-dev (>= 5.1), initramfs-tools
Homepage: XXX:replace with new homepage
Vcs-Browser: XXX: replace with new repo https://github.com/AvANa-BBS/wiperamFreepto
Vcs-Git: XXX: replace with new repo https://github.com/AvANa-BBS/wiperamFreepto.git
Standards-Version: 3.9.4

Package: wiperam
Architecture: all
Depends: secure-delete, kexec-tools, memlockd, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: protection from memory recovery
 In order to protect against memory recovery such as cold boot attack, the
 system RAM is overwritten when the system is being shutdown or when the boot
 medium is physically removed.
