#!/usr/bin/make -f

#export DH_VERBOSE=1

PACKAGE = wiperam
DESTDIR = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@

override_dh_install:
	cp --preserve "etc/init.d/wiperam-kexec" "debian/wiperam.wiperam-kexec.init"
	cp --preserve "etc/init.d/wiperam-reconfigure-kexec" "debian/wiperam.wiperam-reconfigure-kexec.init"
	cp --preserve "etc/init.d/wiperam-reconfigure-memlockd" "debian/wiperam.wiperam-reconfigure-memlockd.init"

override_dh_installinit:
	dh_installinit --onlyscripts --package "wiperam" --name="wiperam-kexec"
	dh_installinit --onlyscripts --package "wiperam" --name="wiperam-reconfigure-kexec"
	dh_installinit --onlyscripts --package "wiperam" --name="wiperam-reconfigure-memlockd"

override_dh_autoclean:
	dh_autoclean
	rm -f debian/*.init
	rm -rf "$(DESTDIR)/etc"
	rm -rf "$(DESTDIR)/lib"
	rm -rf "$(DESTDIR)/usr"

.PHONY: clean build
