#!/usr/bin/make -f

## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

#export DH_VERBOSE=1

%:
	dh $@ --with=config-package

override_dh_install:
	cp --preserve "etc/init.d/tails-kexec" "debian/wiperam.tails-kexec.init"
	cp --preserve "etc/init.d/tails-kexec" "debian/wiperam.tails-reconfigure-kexec.init"
	cp --preserve "etc/init.d/tails-kexec" "debian/wiperam.tails-reconfigure-memlockd.init"

override_dh_installinit:
	dh_installinit --onlyscripts --package "wiperam" --name="tails-kexec"
	dh_installinit --onlyscripts --package "wiperam" --name="tails-reconfigure-kexec"
	dh_installinit --onlyscripts --package "wiperam" --name="tails-reconfigure-memlockd"

clean:
	make clean

.PHONY: clean build
