#!/usr/bin/make -f

#export DH_VERBOSE=1

PACKAGE = wiperam
DESTDIR = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@

override_dh_install:
	cp --preserve "etc/init.d/tails-kexec" "debian/wiperam.tails-kexec.init"
	cp --preserve "etc/init.d/tails-kexec" "debian/wiperam.tails-reconfigure-kexec.init"
	cp --preserve "etc/init.d/tails-kexec" "debian/wiperam.tails-reconfigure-memlockd.init"

override_dh_installinit:
	dh_installinit --onlyscripts --package "wiperam" --name="tails-kexec"
	dh_installinit --onlyscripts --package "wiperam" --name="tails-reconfigure-kexec"
	dh_installinit --onlyscripts --package "wiperam" --name="tails-reconfigure-memlockd"

override_dh_autoclean:
	dh_autoclean
	rm -f debian/*.init
	rm -rf "$(DESTDIR)/etc"
	rm -rf "$(DESTDIR)/usr"

.PHONY: clean build
